.klausi-projectlist {
  list-style-type: none;
  padding: 0px;
}
.klausi-projectlist li {
  background: url("small-arrow.gif") left top no-repeat;
  padding-left: 12px;
  margin: 0.5em 0px;
}
/* Für ContentElement KlausiProjectDetails. */
table.klausi-project-details.kurzportrait {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
table.klausi-project-details.kurzportrait th.field {
  white-space: nowrap;
}

.klausi-projectlist .acronym {
  font-weight: bold;
}
.klausi-projectdetails {
  position: relative;
  box-sizing: border-box;
}
h1.klausi-projecttitle {
  margin-bottom:1.5em;
}
.klausi-projectdetails .klausi-abstract {
  margin:0em;
  padding: 0em 3em 0em 2em;
  float: left;
  width: 65%;
  box-sizing: border-box;
}
.klausi-projectdetails .klausi-logos {
  margin:0em;
  padding: 2em 3em 0em 0em;
  float: left;
  width: 65%;
  box-sizing: border-box;
}
.klausi-projectdetails .klausi-detailsblock {
  float: right;
  width: 35%;
  margin-top: 1em;
  box-sizing: border-box;
  background-color: #eee;
}
.klausi-projectdetails .klausi-detailsblock dt {
  font-weight: bold;
}
.klausi-projectdetails .klausi-detailsblock dd {
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}
.klausi-listitem {
  text-indent: -1em;
  padding-left: 1em;
  margin: 0.25em 0;
}

.klausi-publicationlist-groups li.group {
  font-weight: bold;
  list-style-type: none;
  margin-left: 0px;
}
.klausi-publicationlist li {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-weight: normal;
  list-style-type: disc;
}
.openaccess {
  white-space: nowrap;
  font-weight: bold;
  font-style: italic;
}
.klausi-project-publications {
  margin-top: 2em;
}

.backlinks {
  display: block;
}
.fsbacklink, .projectbacklink {
  padding-left: 12px;
  background: url("small-arrow.gif") left -2px no-repeat;
  font-style: italic;
}

ul.list-of-qualifications li {
  font-weight: normal;
}

li.active-competence .klausi-projectlink {
  font-weight: bold;
}
li.active-competence, li.inactive-competence {
  background: url(small-arrow.gif) left top no-repeat;
  padding-left: 12px;
  margin: 0.5em 0px;
}
ul.list-of-competences {
  list-style-type: none;
  padding: 0px;
}
#dl-competences dt {
  font-weight: bold;
}
#dl-competences dd {
  margin-bottom: 1em;
}
.klausi-competence-details {
  border-left: 2px solid #65a820;
  margin-left: 2em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.competences-main-image img {
  height: auto;
  max-width: 40%;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

.involved-staff {
  float: right;
  padding: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 16em;
  background: #8699B3;
}
.btn-all-projects {
  margin-top: 3em;
  text-align: center;
}
.selected-staff {
  background-color: #ffffff;
}
.selected-staff a {
  color: #8699B3!important;
}
.selected-staff a:hover {
  color: #8699B3!important;
}
.involved-department {
  list-style-type: none;
  margin: 0;
  font-weight: bold;
}
.involved-staff h3 {
  margin-bottom: 1em;
  font-size: 120%;
  text-align: right;
}
ul.staff-items {
  margin: 0.5em 0 1em 0;
  padding: 0;
}
li.staff-item a {
  display: block;
  text-decoration: none;
  padding: 0 2px;
}
li.staff-item:hover {
  background-color: #eeeeee;
}
li.staff-item:hover a {
  color: #8699B3;
  text-decoration: none;
  font-weight: bold;
}
li.staff-item {
  display: block;
  font-weight: normal;
  list-style-type: none;
  margin-left: 0;
  padding-top: 2px 1em;
}
