#main {
	padding-left: 0;
	padding-right: 0;
}

#container {
	padding-left: 210px;
	padding-right: 0px;
}
#container:after {
	height: 0.09px;
}
#left {
	right: 210px;
}

.ce_downloads ul {
	margin: 0;
	padding-left: 0;
}
.ce_downloads li {
	margin-left: 0;
	padding-top: 0;
	padding-left: 0;
}
li.download-element {
	list-style-type: none;
	padding-left: 2em;
}

.contenttable th {
	text-align: left;
}
.contenttable th[align=center] {
	text-align: center;
}
/* captions haben keine festgelegte Breite mehr https://community.contao.org/de/showthread.php?55179-3-4-2-Figcaption-ohne-Breite */
figure.image_container {
	xwidth: min-content;
	max-width: 100%;
}
div.ce_image figure.image_container img,
div.ce_text figure.image_container:not(.float_right):not(.float_left) img {
	max-width: 100%;
	height: auto;
}
/* gesetzte width/height duerfen nicht ignoriert weren */
figure.image_container img:not([width]) {
	max-width: 100%;
	height: auto;
}
div.image_container {
	max-width: 100%;
}
.ce_gallery table .image_container img {
	max-width: 100%;
	height: auto;
}

/* bisheriges margin wird ueberschrieben/verschmilzt */
figure.image_container.float_right,
figure.image_container.float_left,
div.image_container.float_left,
div.image_container.float_right {
    padding-bottom: 1em;
    width: min-content;
}
figure.image_container {
	margin: 0 0 1em;
}
figcaption.caption {
    font-size: 0.9em;
    color: #8699b3;
}
/* Pagination nav statt div */
nav.pagination ul li {
      display: inline;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

nav.pagination p {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}
nav.pagination ul {
	float: right;
	display: inline;
	margin: 0;
	padding: 0;
}


/* zentrierte Bilder */
.ce_image.center .image_container {
	margin-left: auto;
	margin-right: auto;
}

/* Abstand in Contao3 per margin statt padding 
div.image_container {
	padding: 0 0 1em;
}
*/

/* Responsive Startseite */
.contao-layout-55 #container, .contao-layout-56 #container {
	padding-left: 0;
}
.contao-layout-55 .mod_changelanguage.block, .contao-layout-56 .mod_changelanguage.block {
	float: left;
}
#NavMain nav.mod_navigation.block {
	overflow: visible;
}

/* Tina-V */
.contao-layout-63 #container, .contao-layout-62 #container {
	padding-left: 220px;
}
.contao-layout-63 #left, .contao-layout-62 #left {
	right: 220px;
}
/* BSSC2017 */
.contao-layout-51 #container, .contao-layout-16 #container, .contao-layout-50 #container, .contao-layout-53 #container, .contao-layout-44 #container {
	padding-right: 210px;
}
.contao-layout-51 #right, .contao-layout-16 #right, .contao-layout-50 #right, .contao-layout-53 #right {
	margin-left: 20px;
}
/* BALTIC */
.contao-layout-12 #container {
	padding-left: 254px;
}
.contao-layout-12 #left {
	right: 254px;
}
/* BSG 2014 */
.contao-layout-32 #container {
	padding-right: 210px;
}
.contao-layout-32 #right {
	left: 20px;
}

/* z.B. angemeldet bleiben bei atkim */
fieldset.checkbox_container {
	border: 0px none;
}


/* Temporaer unnoetiger rechter Rand nur fuer Abgleich */
.contao-layout-80 #container, 
.contao-layout-65 #container, 
.contao-layout-70 #container, 
.contao-layout-89 #container, 
.contao-layout-90 #container,
.contao-layout-17 #container {
	padding-right: 20px;
}
.contao-layout-20 #container,
.contao-layout-64 #container {
	padding-left: 20px;
}
.contao-layout-10 #submenu,
.contao-layout-78 #submenu,
.contao-layout-79 #submenu,
.contao-layout-34 #submenu,
.contao-layout-36 #submenu,
.contao-layout-38 #submenu,
.contao-layout-59 #submenu,
.contao-layout-60 #submenu,
.contao-layout-62 #submenu,
.contao-layout-63 #submenu,
.contao-layout-65 #submenu,
.contao-layout-80 #submenu,
.contao-layout-82 #submenu,
.contao-layout-85 #submenu,
.contao-layout-89 #submenu,
.contao-layout-90 #submenu,
.contao-layout-58 #submenu,
.contao-layout-19 #submenu {
	margin-top: 5px;
	margin-bottom: 5px;
}
.contao-layout-44 #submenu,
.contao-layout-13 #submenu {
	margin-bottom: 5px;
}

/* Abstand Phosphor-Logos rechts - deaktiviert, Seiten gar nicht mehr benoetigt und macht Probleme bei forschungsschiffesteuergruppe */
/*
.contao-layout-5 .col_2 .ce_image.block {
	margin-bottom: 12px;
}
*/



.abstand-0x10 { margin-bottom: 10px; }
.abstand-10x0 { margin-top: 10px; }
.abstand-0x20 { margin-bottom: 20px; }
.abstand-10x10 { margin-top: 10px; margin-bottom: 10px; }
.abstand-0x15 { margin-bottom: 15px; }
.abstand-20x0 { margin-top: 20px; }
.abstand-0x30 { margin-bottom: 30px; }
.abstand-40x0 { margin-top: 40px; }
.abstand-0x40 { margin-bottom: 40px; }
.abstand-80x0 { margin-top: 80px; }
.abstand--10x0 { margin-top: -10px; }
.abstand-20x10 { margin-top: 20px; margin-bottom: 10px; }
.abstand-20x20 { margin-top: 20px; margin-bottom: 20px; }
.abstand-0x-10 { margin-bottom: -10px; }
.abstand-30x0 { margin-top: 30px; }
.abstand-0x100 { margin-bottom: 100px; }
.abstand-25x0 { margin-top: 25px; }
.abstand-0x0 { margin-bottom: 0px; }
.abstand-0x5 { margin-bottom: 5px; }
.abstand-90x0 { margin-top: 90px; }
.abstand-60x0 { margin-top: 60px; }
.abstand-5x0 { margin-top: 5px; }
.abstand-50x0 { margin-top: 50px; }
.abstand-15x0 { margin-top: 15px; }
.abstand-15x25 { margin-top: 15px; margin-bottom: 25px; }
.abstand-20x40 { margin-top: 20px; margin-bottom: 40px; }
.abstand-37x0 { margin-top: 37px; }
.abstand-20x30 { margin-top: 20px; margin-bottom: 30px; }
.abstand-0x25 { margin-bottom: 25px; }
.abstand-40x40 { margin-top: 40px; margin-bottom: 40px; }
.abstand-60x20 { margin-top: 60px; margin-bottom: 20px; }
.abstand-15x15 { margin-top: 15px; margin-bottom: 15px; }
.abstand--15x20 { margin-top: -15px; margin-bottom: 20px; }
.abstand--1x0 { margin-top: -1px; }
.abstand-10x20 { margin-top: 10px; margin-bottom: 20px; }
.abstand-0x22 { margin-bottom: 22px; }
.abstand-150x0 { margin-top: 150px; }
.abstand-190x0 { margin-top: 190px; }
.abstand-100x0 { margin-top: 100px; }
.abstand-50x30 { margin-top: 50px; margin-bottom: 30px; }
.abstand-0x50 { margin-bottom: 50px; }
.abstand-37x37 { margin-top: 37px; margin-bottom: 37px; }
.abstand-12x0 { margin-top: 12px; }
.abstand-10x30 { margin-top: 10px; margin-bottom: 30px; }
.abstand-10x60 { margin-top: 10px; margin-bottom: 60px; }
.abstand-0x3 { margin-bottom: 3px; }
.abstand-30x20 { margin-top: 30px; margin-bottom: 20px; }
.abstand-0x-12 { margin-bottom: -12px; }
.abstand-20x200 { margin-top: 20px; margin-bottom: 200px; }
.abstand-0x-15 { margin-bottom: -15px; }
.abstand-30x30 { margin-top: 30px; margin-bottom: 30px; }
.abstand-20x35 { margin-top: 20px; margin-bottom: 35px; }
.abstand-13x0 { margin-top: 13px; }
.abstand--5x0 { margin-top: -5px; }
.abstand--5x10 { margin-top: -5px; margin-bottom: 10px; }
.abstand-5x5 { margin-top: 5px; margin-bottom: 5px; }
.abstand--16x0 { margin-top: -16px; }
.abstand-0x2 { margin-bottom: 2px; }
.abstand--15x0 { margin-top: -15px; }
.abstand--30x0 { margin-top: -30px; }
.abstand-0x45 { margin-bottom: 45px; }
.abstand-75x50 { margin-top: 75px; margin-bottom: 50px; }
.abstand-30x10 { margin-top: 30px; margin-bottom: 10px; }
.abstand-6x0 { margin-top: 6px; }
.abstand-11x0 { margin-top: 11px; }
.abstand-8x8 { margin-top: 8px; margin-bottom: 8px; }
.abstand-18x0 { margin-top: 18px; }
.abstand--20x0 { margin-top: -20px; }
.abstand-40x15 { margin-top: 40px; margin-bottom: 15px; }
.abstand-70x0 { margin-top: 70px; }
.abstand-10x40 { margin-top: 10px; margin-bottom: 40px; }
.abstand-1x1 { margin-top: 1px; margin-bottom: 1px; }
.abstand-30x1 { margin-top: 30px; margin-bottom: 1px; }
.abstand-20x50 { margin-top: 20px; margin-bottom: 50px; }
.abstand-0x42 { margin-bottom: 42px; }
.abstand-0x4 { margin-bottom: 4px; }

ul.lehrmaterialien {
	margin: 0;
	padding-left: 0;

}
